.headliner {
    text-align: center;
}

.headliner h2 {
    margin: 0;
}

.section {
    display: grid;
    place-items: center;
    padding-block: 5rem;
}

.contact-form {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    background-color: #313131;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 282px;
    color: white;
}

input:focus {
    outline: none !important;
    border: solid 3px;
    border-color: #473579;
}

.contact-form input:nth-of-type(2) {
    height: 120px;
}

.contact-form button {
    background-color: transparent;
    border: solid 2px;
    border-color: #473579;
    color: white;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 74px;
}